*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 41, 38);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.logo::first-letter{
    color: red;
    font-size: 40px;
}

.head-links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.head-links>a{
    text-decoration:none;
    color: #ffffff;
}

.head-links>a:hover{
    color: red;
}


.login>button{
    padding: 10px 20px;
    background-color: blue;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}
.login>button:hover{
    background-color: #ffffff;
    color: blue;
}

.input{
    background-color: rgb(255, 255, 0);
    height: 20vh;
    display: grid;
    grid-template-columns: 88% 8%;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.input>input{
    height: 8vh;
    font-size: 24px;
    border: 1px solid rgb(70,70, 251);
}
.input>input::placeholder{
    text-align: center;
}
.input>button{
    height: 8vh;
    background-color: green;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.notes{
    box-shadow: 0 0 10px black;
    padding: 20px 0;
    background-color: rgb(242, 152, 119);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,20vw);
    gap: 20px 15px;
}
.note{
    background-color: rgb(2, 69, 53);
    color: white;
    height: 10vh;
    border-radius: 5px;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: end; */
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    text-align: justify;
    padding: 7px;
    height: 100%;
    overflow-y: scroll;
    width: 80%;
}
.btn{
    margin-left: 10px;
    /* align-self: start; */
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.btn>button{
    font-size: 19px;
    padding: 3px;
    border-radius: 5px;
}
.btn>button:first-child{
    color: #1fff01;
}
.btn>button:last-child{
    color: #ff0000;
}
